<div class="list">
	<div class="list-work">
		<span class="work-title"></span>
		<div class="list list-img work-img">
			<img src=""> <!-- src-->
			<img src=""> <!-- src-->
			<img src=""> <!-- src-->
			<!-- .... -->
		</div>
		<div class="list list-text work-text">
			<span class="text"> <!-- text--></span>
			<span class="text"> <!-- text--></span>
			<span class="text"> <!-- text--></span>
			<!-- .... -->
		</div>

	</div>
</div>